* {
    box-sizing: border-box;
}

body {
    /*
  background-image: url('ipiranga.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;*/
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgray;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.336);
    border-bottom: solid 5px;
    border-color: linear-gradient(to right, rgb(145, 28, 28, 0.767), rgb(204, 204, 99), rgb(46, 141, 46), rgb(51, 51, 167));
    height: 70px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 5px;
}

.logo img {
    height: 100%;
}

.menu-toggle {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 70px;
    padding: 20px;
}

.xIcon {
    display: none;
}

ul {
    font-size: 12px;
    margin: 0;
    padding: 0px;
}

.menu li {
    padding: 0;
    display: inline-block;
}

.topnav a {
    text-decoration: none;
    color: rgb(208, 233, 229);
    font-size: 1.3em;
    padding: 15px;
}

menu li,
a:hover {
    border: 1px solid white;
    transition: .3s;
}

.menu a {
    padding: 15px;
}

#infos {
    margin: 0;
    border: solid;
    display: inline-flex;
    float: right;
}

.menu a:hover {
    opacity: 0.8;
    background-color: #0E4D14;
    color: aliceblue;
    border-radius: 12px;
}

.cont {
    display: block;
}

@media(min-width: 899px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 900px) {
    .menu ul {
        display: none;
    }
}

@media (max-width: 910px) {
    #infos {
        display: none;
    }
}